.navbar-container {
    background-color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navbar-logo {
    width: 100px; 
    height: auto;
  }
  .navbar-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}
.navbar-link {
    margin-right: 20px;
  }
  
  .navbar-link a {
    color: #0C4D9C; 
    text-decoration: none; 
    transition: color 0.3s; 

  }
  .navbar-link a:hover {
    color:#FA5C00; 
  }
  .register-button {
    background-color: #FA5C00;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.register-button:hover {
    background-color: #D94700; /* Cambia el color al pasar el mouse sobre el botón */
}