.navbar-container {
    position: fixed;
    z-index: 10;
    background-color: #0C4D9C;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .navbar-logo {
    width: 120px; 
    height: auto;
  }
  .navbar-links {
    list-style: none;
    display: flex;
    align-items: center;
}
.navbar-link {
    margin-right: 20px;
  }
  
  .navbar-link a {
    color: white; 
    text-decoration: none; 
    transition: color 0.3s; 

  }
  /* .navbar-link a:hover {
    color:#FA5C00; 
  } */
  
  button {
    color: white;
    text-decoration: none;
    font-size: 25px;
    border: none;
    background: none;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
  }
  
  button::before {
    margin-left: auto;
  }
  
  button::after, button::before {
    content: '';
    width: 0%;
    height: 2px;
    background:#FA5C00;
    display: block;
    transition: 0.5s;
  }
  
  button:hover::after, button:hover::before {
    width: 100%;
  }